<!doctype html>
<html lang="en">
  <head>
    <link href="../static/css/subscribe.css" rel="stylesheet">
    <script src="../static/js/subscribe.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="login-wrap">
      <h2>Login</h2>
      
      <div class="form">
        <input type="text" placeholder="Username" name="un" />
        <input type="password" placeholder="Password" name="pw" />
        <button> Sign in </button>
        <a href="#"> <p> Don't have an account? Register </p></a>
      </div>
    </div>
  </body>
</html>